/*
  min-width: 최소 이 넓이 이상 ~
  max-width: ~ 최대 이 넓이까지
*/

/* ~ 600px */
.box {
  width: 100%;
  height: 500px;
  background-color: red;
}

/* 600px ~ 800 px 사이 */
@media screen and (min-width: 600px) and (max-width: 800px) {
  .box {
    background-color: blue;
  }
}

/* 800px ~ 1200 px 사이 */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .box {
    background-color: green;
  }
}

/* 1200 px ~  */
@media screen and (min-width: 1200px) {
  .box {
    background-color: black;
  }
}
